/* Allows images to float beside each other, instead of lining up beneath. */

figure {
    float: left;
}


/* fully justifies image rows */

#gif-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Centers content (not just text) */

.center-text {
    text-align: center;
}


/* Over-rides Bootstrap buttons to allow button row to wrap. */

.btn-group {
    display: inline;
}